@font-face {
font-family: ChaparraPro;
src: url("../font/ChaparralPro-Regular.otf") format("opentype");
}

@font-face {
font-family: MyriadPro;
src: url("../font/MyriadPro-Regular.otf") format("opentype");
}

#dashboard_container {
	width: 98%;
	height: 98%;
}

#menu_container {
	/*	border: solid 1px red; 
	border: 1px #bbbbbb solid;	
	background-color: #f7f8f7;
	*/
	float: left;
	width: 180px;
	margin-top: 10px;
	margin-right: 5px;
	border-right: 4px solid #6AB7BF;
	align:center;
}

#chart_container {
	/*	border: solid 1px blue; */
	float: left;
}

span.menu_item_label {
	/*font-family: verdana;
	font-weight: bold;*/
	font-size: 14px;
	padding-left: 10px;
	font-family: MyriadPro;
	text-align: center;
}

div.menu_item {
	/*background-color: #f0f1f0;
	border-bottom: 1px #bbbbbb solid;*/
	width: 100%;
	height: 25px;
	color: #535b5b;
	padding-top: 5px;
	text-align: center;
	cursor: pointer;
}

div.menu_item_selected {
	/*background-color: #ffffff;
	border-right: 1px #ffffff solid;
	*/
	background-color: #6AB7BF;
	color: #FFFFFF;
	text-align: center;
}

div.menu_return {
	/*background-color: #f9bd16;
	background-color: #6AB7BF;
	border-bottom: 1px #bbbbbb solid;
	color: #125e84;*/
	color: #000000;
	font-family: MyriadPro;
	width: 100%;
	height: 25px;
	padding-top: 5px;
	cursor: pointer;
	text-align: center;
}

.menu_section_item {
	/*background-color: #f9bd16;
	background-color: #6AB7BF;
	border-top: 1px #bbbbbb solid;
	border-bottom: 1px #bbbbbb solid;
	color: #125e84;*/
	background-color: #6AB7BF;
	color: #FFFFFF;
	font-family: MyriadPro;
	width: 100%;
	height: 25px;
	padding-top: 5px;
	margin-top: 50px;
	text-align: center;
}
.menu_section_item_indent {
	/*background-color: #f9bd16;
	background-color: #6AB7BF;
	border-top: 1px #bbbbbb solid;
	border-bottom: 1px #bbbbbb solid;
	color: #125e84;*/
	margin: 0 auto;
	background-color: #6AB7BF;
	color: #FFFFFF;
	font-family: MyriadPro;
	width: 90%;
	height: 25px;
	padding-top: 5px;
	margin-top: 50px;
	text-align: center;
}

.info_class{
	/*padding: 10px;
	margin-top: 0px;*/
	font-family: MyriadPro;
	background-color: #E6E6E8;
	border: none;
	margin: auto;
    width: 90%;
    font-size:14px;
    text-align:justify;
}
#step_item_1 {
	/*background-color: #AECBE8;*/
	background-color:#E6E6E8;
}

#step_item_2 {
	/*background-color: #7CA9D6;*/
	background-color:#E6E6E8;
}

#step_item_3 {
	/*background-color: #6792BC;*/
	background-color:#E6E6E8;
}

div.step_item {
	margin: 0 auto;
	width: 90%;
	height: auto;
    min-height: 25px;
/*	border-bottom: 1px #bbbbbb solid;
	color: #ffffff;*/
	padding-top: 5px;
	font-family: MyriadPro;
	overflow:hidden;
}

div.chart_item {
	float: left;
	background-color: #ffffff;
	/*border: solid 1px #bbbbbb;*/
	margin-left: 10px;
	margin-top: 10px;
	/*	width: 600px; */
	width: 32%;
}
div.chart_item_tab {	
	background-color: #ffffff;
	margin-left: 10px;
	margin-top: 10px;
	/*	width: 600px; 
	border: solid 1px #bbbbbb;
	float: left;
	width: 32%;*/
}

div.chart_title {
	background-color: #BABABA;
	font-family: ChaparraPro;
	/*font-weight: bold;*/
	color: #ffffff;
	padding: 3px;
	margin-top: 15px;
	font-size: large;
}

div.chart_subtitle {
	background-color: #e2e2e2;
	font-family: ChaparraPro;
	/*font-weight: bold;*/
	color: #000000;
	padding: 3px;
}

div.chart {
	width: 100%;
	height: 40%;
}

div.chart_all_ptns_btn {
	float: right;
	background-color: lime;
}

div.step_two {
	width: 100%;
	height: 100%;
	float: left;
	background-color: #ffffff;
	margin-left: 10px;
	margin-top: 10px;
}

div.step_two_two {
	width: 100%;
	height: 100%;
	
}

div.step_three {
	
}
div.chart_step_two_container{
	width: 100%;
	height: auto;
}
div.chart_step_two{
	width: 100%;
	height: 100%;
}
div.chart_inner_btn {
	/*	background-color: #F7C42A;
    border-top: 1px solid #BBBBBB; 
	color: #003265;
	font-family: verdana;
	font-weight: bold;*/
	cursor: pointer;
	padding: 3px;
	color: #015E84;
	font-family: MyriadPro;
}

div.chart_inner_btn_hidden {
	/*	background-color: #F7C42A;
    border-top: 1px solid #BBBBBB; 
	color: #003265;
	font-family: verdana;
	font-weight: bold;*/
	padding: 3px;
	color: #FFFFFF;
	font-family: MyriadPro;
}

div.chart_step_two {
/* 	height: 90%; */
}

.loader {
	position: absolute;
	z-index: 1000;
	top: 150px;
}

.loader_cp {
	position: absolute;
	z-index: 1000;
	top: 150px;
}

/*#menu_tooltip {
	/*background-color: #AECBE8;
	font-family: verdana;
	border-top: black;
	border-bottom: black;*/
	/*padding: 10px;
	margin-top: 0px;
	font-family: MyriadPro;
	background-color: #E6E6E8;
	border: none;
}

#menu_info_tooltip {
	/*background-color: #AECBE8;
	font-family: verdana;
	border-top: black;
	border-bottom: black;*/
	/*padding: 10px;
	margin-top: 0px;
	font-family: MyriadPro;
	background-color: #E6E6E8;
	border: none;
}*/
#searchPatientBtn {
	/*background-color: #3787B2;
	color: #ffffff;
	font-family: verdana;
	font-weight: bold;
	width: 90%;
	margin-top: 5px;	
	height: 25px;
	*/
	cursor: pointer;
	font-size: 14px;
	font-family: MyriadPro;
	background-color: #6BB7BF;
	color: #ffffff;
	padding-top:5px;
	padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#singlePatientDataContainer {
	margin-top: 10px;
	margin-left: 10px;
}

#statusChartTitle {
	margin-left: 150px;
	margin-bottom: 20px;
	margin-top: 10px;
}

#scheduleTable {
	margin-left: 75px;
}

#statusChart {
	margin-left: 75px;
	margin-right: 140px;
}

.singlePatientMenuItemSelected {
	/*border: solid 1px #26b6ad;
	background-color: #bae2e0;*/
	float: left;
	cursor: pointer;
	background-color: #4D9599;
	margin-right: 1px;
	padding-top: 5px;
	color: #FFFFFF;
	font-family: MyriadPro;
	width:150px;
	height: 25px;
}


.singlePatientMenuItemLabelSelected {
	font-size: 16px;
	padding-left: 10px;
	color: #FFFFFF;
	font-family: MyriadPro;
}

.singlePatientMenuItem {
	/*border: solid 1px #125e84;
	background-color: #2a919c;*/
	float: left;
	cursor: pointer;
	background-color: #6BB7BF;
	margin-right: 1px;
	padding-top: 5px;
	color: #FFFFFF;
	font-family: MyriadPro;
	width:150px;
	height: 25px;
}

.singlePatientMenuItemLabel {
	font-family: verdana;
	font-size: 16px;
	padding-left: 10px;
	color: white;
	font-family: MyriadPro;
}

#singlePatientMenu{
	height: 35px;
}

.singleStepTwoMenuItemSelected {
	/*border: solid 1px #26b6ad;
	background-color: #bae2e0;*/
	float: left;
	cursor: pointer;
	background-color: #4D9599;
	margin-right: 1px;
	padding: 5px;
	color: #FFFFFF;
	font-family: MyriadPro;
}


.singleStepTwoMenuItemLabelSelected {
	font-size: 16px;
	padding: 5px;
	color: #FFFFFF;
	font-family: MyriadPro;
}

.singleStepTwoMenuItem {
	/*border: solid 1px #125e84;
	background-color: #2a919c;*/
	float: left;
	cursor: pointer;
	background-color: #6BB7BF;
	margin-right: 1px;
	padding: 5px;
	color: #FFFFFF;
	font-family: MyriadPro;
}

.singleStepTwoMenuItemLabel {
	font-family: verdana;
	font-size: 16px;
	padding: 5px;
	color: white;
	font-family: MyriadPro;
}

#singlePatientChartGrouper{
	margin-top: 15px;
}

#singleStepTwoMenu{
	height: 35px;
}

.example-table {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 115%;
	width: auto;
	overflow: auto;
	border: none;
}

.example-table th {
	background-color: rgb(112, 196, 105);
	font-weight: normal;
	color: white;
	/*padding: 20px 30px;*/
	text-align: center;
}

.example-table td {
	/*background-color: rgb(238, 238, 238);
	padding: 20px 30px;
	color: rgb(111, 111, 111);*/
	border: none;
}

.example-table2 {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 95%;
	width: auto;
	overflow: auto;
	border: none;
}

.example-table2 th {
	background-color: rgb(112, 196, 105);
	font-weight: normal;
	color: white;
	/*padding: 20px 30px;*/
	text-align: center;
}

.example-table2 td {
	/*background-color: rgb(238, 238, 238);
	padding: 20px 30px;
	color: rgb(111, 111, 111);*/
	border: none;
}

.example-table3 {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 95%;
	/*width: auto;
	overflow: auto;*/
	border: solid 1px #bbbbbb;
	margin-top: 15px;
}

.example-table3 th {
	background-color: #e2e3e2;
	font-family: ChaparraPro;
	color: #000000;
	padding: 3px;	
	/*padding: 20px 30px;	
	background-color: rgb(112, 196, 105);
	font-weight: normal;
	color: white;*/
	text-align: center;
}

.example-table3 td {
	/*background-color: rgb(238, 238, 238);
	padding: 20px 30px;
	color: rgb(111, 111, 111);*/
	border: none;
	font-family: ChaparraPro;
	text-align: center;
}

.atcItemSelected {
	/*border: solid 1px #2a919c;
	float: left;
	margin-right: 1px;
	padding-top: 5px;
	cursor: pointer;
	background-color: #bae2e0;*/
	padding: 10px;
	width: auto;
	height: auto;
	font-family: MyriadPro;
	color: black;
}

.atcItem {
	/*border: solid 1px #125e84;
	float: left;	
	margin-right: 1px;
	padding-top: 5px;
	cursor: pointer;
	background-color: #26b6ad;*/
	padding: 10px;
	width: auto;
	height: auto;
	font-family: MyriadPro;
	color: gray;
}

.atcSelected {
	/*border: solid 1px #2a919c;
	float: left;
	margin-right: 1px;
	padding-top: 5px;
	background-color: #ec8168;*/
	cursor: pointer;
	width: auto;
	height: auto;
	padding: 10px;
	font-family: MyriadPro;
	color: black;
}

.atcUNSelected {
	/*border: solid 1px #125e84;
	float: left;
	margin-right: 1px;
	padding-top: 5px;
	background-color: #f2a697;*/
	cursor: pointer;
	padding: 10px;
	width: auto;
	height: auto;
	font-family: MyriadPro;
	color: gray;
}

.hSelected {
	/*border: solid 1px #2a919c;
	float: left;
	margin-right: 1px;
	padding-top: 5px;
	background-color: #ec8168;*/
	cursor: pointer;
	width: auto;
	height: auto;
	padding: 10px;
	font-family: MyriadPro;
	color: black;
}

.hUnselected {
	/*border: solid 1px #125e84;
	float: left;
	margin-right: 1px;
	padding-top: 5px;
	background-color: #f2a697;*/
	cursor: pointer;
	padding: 10px;
	width: auto;
	height: auto;
	font-family: MyriadPro;
	color: gray;
}

/* #Green Sea Flat Button
==================================================*/
.green-sea-flat-button {
	position: relative;
	vertical-align: top;
	width: 200px;
	height: 50px;
	padding: 0;
	font-size: 18px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #16a085;
	border: 0;
	border-bottom: 2px solid #14947b;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #14947b;
	box-shadow: inset 0 -2px #14947b;
}

.green-sea-flat-button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.buttonTherapyDivClass {
	/*border: solid 1px #125e84;*/
	padding: 15px;
}
/* basic positioning 
.legend li { float: left; margin-right: 10px; }*/
.legend {
	list-style: none;
	margin-top: 55px;
	font-family: MyriadPro;
}

.legend span {
	/*border: 1px solid #ccc;*/
	float: left;
	width: 12px;
	height: 12px;
	margin: 2px;
}
/* your colors */
.legend .Irisk {
	background-color: #84d1ad;
}

.legend .IIrisk {
	background-color: #01ae76;
}

.legend .IIIrisk {
	background-color: #fdd687;
}

.legend .IVrisk {
	background-color: #ff944c;
}

.legend .Vrisk {
	background-color: #f34930;
}

.legend .VIrisk {
	background-color: #c479b1;
}
.magicSquareItem{
	/*float: left;
	
    height: 60px;
    padding: 10px;
    width: 60px;
    border: 1px solid white;*/
    
    background-color: #BABABA;
    font-size: 14px;
    font-family: MyriadPro;
    color: #FFFFFF;
    text-align: left;
    margin: 0 auto; 
    border:none;
    border-collapse:collapse;
}

.magicSquareItem td{
	/*float: left;
	
    height: 60px;
    padding: 10px;
    width: 60px;
    border: 1px solid white;
    background-color: #55BABA;*/
   
    
}

.left_td{
	 border-right: 1px solid white;
}

.dynamicTherapyDiv{
	/*float: left;
	background-color: #BABABA;
	width:85%;*/
	width:100%;
	height: 200px;
	
}
.magicSquareDivClass{
	/*float: left;
	width:15%;
	height: 200px;
	background-color: #a626b6;
	margin-bottom: 10px;
	height: 50px;*/
	width:100%;
	margin-bottom: 10px;
}
.magicSquareFirstRow{
	margin-top: 10px;
}
.atcTitleClass{
	width:100%;
	height: 20px;
	background-color: #BABABA;
	padding: 2px 0 2px 10px;
	font-family: ChaparraPro;
	color: #FFFFFF;
}
.therapiesSubMenu{
	float: left;
	height: 25px;
    width: 170px;
   /* border: 1px solid #26B6AD;
    color: #414141;
    font-family: ChaparraPro;
    background-color: #BAE2E0;*/
    background-color: #6BB7BF;
    padding-top: 5px;
    margin-right: 1px;
    padding-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;  
    color: #FFFFFF;
    font-family: MyriadPro;
}
.therapiesSubMenuNotSelected{
	/* background-color: #2a919c;
   border: 1px solid #125e84;*/
   background-color: #4D9599;
	color: #FFFFFF;
	font-family: MyriadPro;
}

.clinicalDatacTitleClass{
	width:100%;
	height: 20px;
	background-color: #BABABA;
	padding: 2px 0 2px 10px;
	font-family: ChaparraPro;
	color: #FFFFFF;
}

.clinicalDataTimeLine{
	padding-top: 10px;
}

.filterBtn{
	align: right;
	cursor: pointer;  
    color: #FFFFFF;
    font-family: MyriadPro;
    color: #015E84;
}

.trafficlight_page_title{
	background-color: #f7f8f7;
    font-family: ChaparraPro;
    padding: 10px;
   /* width: 510px;*/
}
.trafficlight_box{
	/*border: 1px solid #BBBBBB;*/
	border: none;
    float: left;
    height: 250px;
    margin-right: 25px;
    margin-top: 25px;
    width: 250px;
    display: none;
}
.title_tl{
	background-color: #BABABA;
    font-family: ChaparraPro;
	/*background-color: #015e84;
	font-family: ChaparraPro;*/
	padding: 2px 0 2px 10px;
	height: 20px;
	font-weight: bold;
	color: #FFFFFF;
}
.content_tl{
	font-family: MyriadPro;
	font-size: 14px;
	padding-left: 2px;
    padding-top: 20px;
}
.tl_details{
	/*background-color: #bababa;
    border-top: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    color: white;*/
    color: #26B6AD;
    text-decoration: underline;
    cursor: pointer;
    font-family: MyriadPro;
    margin-left: 50%;
    width: 50%;
    padding:1px;
}
.tl_category{
	
    height: 100px;
   	margin: 26px auto 26px 60px;
    width: 100%;
}

.tl_category_red{
	/* background: #D13232;*/
	background-image: url("../images/trafficlight_red.png");
}

.tl_category_yellow{
	/* background: #F9F93B; */
	background-image: url("../images/trafficlight_yellow.png");
}

.tl_category_green{
	/* background: #1EE85E; */
	background-image: url("../images/trafficlight_green.png");
}

#selectTP {
	/*background-color: #3787B2;
	color: #ffffff;
	font-family: verdana;
	font-weight: bold;
	background-color: #6BB7BF;
	color: #ffffff;
	*/
	width: 90%;
	cursor: pointer;
	height: 25px;
	font-size: 14px;
	font-family: MyriadPro;
	background-color: #FFFFFF;
	text-decoration: underline;
	color: #26B6AD;
	border:none;
}

.ui-dialog-titlebar{
	height: 25px;
	font-size: 14px;
	font-family: MyriadPro;
	background-color: #6BB7BF;
	color: #ffffff;
}

.dialog_table {
	font-family: MyriadPro;	
	font-size: 95%;
	/*width: auto;
	-webkit-font-smoothing: antialiased;
	overflow: auto;*/
	margin-top: 15px;
	width: 100%;
	border:none;
}

.dialog_table th {
	
	font-family: MyriadPro;	
	color: #000000;
	padding: 3px;	
	/*padding: 20px 30px;	
	background-color: #e2e3e2;
	background-color: rgb(112, 196, 105);
	font-weight: normal;
	color: white;
	text-align: center;*/
	text-align: left;
	border: none;
}

.dialog_table td {
	/*background-color: rgb(238, 238, 238);
	padding: 20px 30px;
	color: rgb(111, 111, 111);
	text-align: center;*/
	border: none;
	font-family: MyriadPro;	
	text-align: left;
}


/*form styles*/
#msform {
	width: 100%;
	/*margin: 50px auto;*/
	text-align: center;
	position: relative;
}


/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	
	/*CSS counters to number the steps
	overflow: hidden;
	*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	/*text-transform: uppercase;*/
	font-size: 14px;
	width: 33.33%;
	float: left;
	position: relative;
	font-family: MyriadPro;	
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 10px;
	color: black;
	background: #BABABA;
	border-radius: 40px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 8px;
	background: #BABABA;
	position: absolute;
	left: -50%;
	top: 11px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #6AB7BF;
	color: black;
}

.parent div {
    display:none
}
.showmore:after {
    content:"More";
    color: #4D9599;
    cursor: pointer;
    text-decoration: underline;
}
.showless:after {
    content:"Less";
     color: #4D9599;
    cursor: pointer;
    text-decoration: underline;
}

.tf_comorbidity{
	background-color: #C96262;
    color: white;
    /*padding: 2px;*/
    font-family: MyriadPro;
}

.logoutLabel{
	background-color: #6AB7BF;
    color: #FFFFFF;
    padding: 5px 10px;
    font-family: MyriadPro;
    cursor:pointer;
}

.chart_title_help{
	float:right;
	cursor:pointer;
	color:#4D9599;
	text-decoration:underline;
	margin-right:5px;
}

#dialogHelp_chart{
	font-family: MyriadPro;
	font-size: 14px;
}