<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
    <servlet>
        <servlet-name>i2b2Servlet</servlet-name>
        <servlet-class>it.fsm.mosaic.servlet.I2B2Servlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>i2b2Servlet</servlet-name>
        <url-pattern>/i2b2Servlet/</url-pattern>
    </servlet-mapping>
   
    
    <resource-ref>
  		<description>MOSAIC i2b2 Connection</description>
  		<res-ref-name>jdbc/mosaici2b2</res-ref-name>
  		<res-type>javax.sql.DataSource</res-type>
  		<res-auth>Container</res-auth>
	</resource-ref>
	
    <context-param>
    	<param-name>mosaic_i2b2_properties</param-name>
    	<param-value>/WEB-INF/mosaic_dashboard.properties</param-value>
	</context-param>
  
  <display-name>MosaicDashBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>